// -----------------------------------------------------------------------------
// Grid/Content/Main/Side style
// -----------------------------------------------------------------------------
.row {
	@include flexbox();
	@include flex-wrap(wrap);
	width: 100%;
	&.row-right {
		justify-content: flex-end;
	}
	&.row-center {
		justify-content: center;
	}
}
.row--04{
	font-size: 50px;
}
@for $i from 1 through 12 {
	.col-#{$i} {
		width: percentage($i / 12);
	}
}
@media only screen and (max-width: 768px) {
	@for $i from 1 through 3 {
		.col-md-#{$i} {
			width: percentage($i / 3);
		}
	}
}
@media only screen and (max-width: 480px) {
	@for $i from 1 through 2 {
		.col-xs-#{$i} {
			width: percentage($i / 2);
		}
	}
}
$colors: red, orange, green, #178CD6, purple;
.row-demo {
	div {
		align-items: center;
		background-color: nth($colors, random(length($colors)));
		border: 1px solid #ccc;
		color: #fff;
		display: flex;
		font-weight: bold;
		height: 50px;
		justify-content: center;
	}
}
