// -----------------------------------------------------------------------------
// Basic typography style for copy text
// -----------------------------------------------------------------------------
body {
	color: $text-color;
	font-weight: normal;
	font-size: 13px;
	line-height: 1.231;
	font-family: $text-font-stack;
	/* font: normal 13px / 1.231 $text-font-stack; */
}
